In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
mba =   pd.read_csv("D:\\codes examples R\\Statistics\\mba.csv")
mba.head()

   Datasrno  workex  gmat
0         1      21   720
1         2     107   640
2         3      57   740
3         4      99   690
4         5     208   710

In [4]:
len(mba)

773

In [5]:
mba.columns

Index(['Datasrno', 'workex', 'gmat'], dtype='object')

In [7]:
mba.shape

(773, 3)

mba.head(2)

In [8]:
mba.head(2)

   Datasrno  workex  gmat
0         1      21   720
1         2     107   640

In [10]:
mba.tail(2)

     Datasrno  workex  gmat
771       772      10   610
772       773      52   620

In [11]:
mba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 773 entries, 0 to 772
Data columns (total 3 columns):
Datasrno    773 non-null int64
workex      773 non-null int64
gmat        773 non-null int64
dtypes: int64(3)
memory usage: 18.2 KB

In [12]:
mba.describe()

        Datasrno     workex        gmat
count  773.00000  773.00000  773.000000
mean   387.00000   57.50194  711.164295
std    223.29017   27.38682   29.339714
min      1.00000    9.00000  600.000000
25%    194.00000   41.00000  690.000000
50%    387.00000   52.00000  710.000000
75%    580.00000   69.00000  730.000000
max    773.00000  279.00000  780.000000

In [13]:
mba.describe().transpose()

          count        mean         std    min    25%    50%    75%    max
Datasrno  773.0  387.000000  223.290170    1.0  194.0  387.0  580.0  773.0
workex    773.0   57.501940   27.386820    9.0   41.0   52.0   69.0  279.0
gmat      773.0  711.164295   29.339714  600.0  690.0  710.0  730.0  780.0

In [14]:
mba1=mba[["workex", "gmat"]]
mba1.head(2)

   workex  gmat
0      21   720
1     107   640

In [15]:
mba1.describe().transpose()

        count        mean        std    min    25%    50%    75%    max
workex  773.0   57.501940  27.386820    9.0   41.0   52.0   69.0  279.0
gmat    773.0  711.164295  29.339714  600.0  690.0  710.0  730.0  780.0

In [16]:
mba.describe().transpose()

          count        mean         std    min    25%    50%    75%    max
Datasrno  773.0  387.000000  223.290170    1.0  194.0  387.0  580.0  773.0
workex    773.0   57.501940   27.386820    9.0   41.0   52.0   69.0  279.0
gmat      773.0  711.164295   29.339714  600.0  690.0  710.0  730.0  780.0

In [17]:
mba1.mean()

workex     57.501940
gmat      711.164295
dtype: float64

In [18]:
mba1["workex"].mean()

57.501940491591206

In [19]:
mba1['workex'].median()

52.0

In [20]:
mba1["workex"].median()

52.0

In [21]:
mba1["workex"].var()

750.0378848306519

In [22]:
mba1["workex"].std()

27.386819545734987

In [24]:
from scipy.stats import skew
skewness=mba1["workex"].skew()
skewness

2.6085365678230614

In [31]:
from scipy.stats  import kurtosis
kurtosis=mba1["workex"].kurtosis()
kurtosis

13.404731601273921

In [29]:
range=max(mba1["gmat"])-min(mba1["gmat"])
range

180

In [32]:
kurtosis= mba1["gmat"].mean()
kurtosis

711.1642949547219